.trtable {
    align-items: center !important;

    .tableimg {
        border-radius: 15px;
        width: 100%;

    }

    .btn-danger {
        font-family: extra-bold;
        font-size: 17px;
        background-color: rgb(255, 0, 43) !important;
    }


    .inputtb {
        width: 90px;
        height: 45px;
        border-radius: 10px;
    }

    .type {
        font-family: bold;
    }

    .descriptiontb {
        font-family: regular;
    }

    strong {
        font-family: regular !important;
    }

}


.toasterr {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 30px;
    color: white;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    right: -20%;
}


@media (max-width:576px) {

    .trtable {
        width: 90% !important;
        font-size: 12px !important;
        align-items: center !important;

        img {
            width: 50px !important;
            height: 30px !important;
            border-radius: 4px !important;
        }

        .descriptiontb {
            display: none !important;
        }

        .inputtb {
            width: 40px;
            height: 25px;
            border-radius: 10px;
        }

        button {
            font-family: bold !important;
            font-size: 12px !important;
        }
    }

    .subtotal {
        span {
            font-size: 18px !important;
        }
    }


}