* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 4.4rem !important;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

header .top {
  padding: 4px 0rem 0.5rem 0rem;
}
header .top .alltop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top .alltop .topleft nav {
  margin-bottom: 8px;
}
header .top .alltop .topleft nav .unibank-logo {
  background-image: url(/assets/images/logo.png);
  background-size: contain;
  transform: translateY(8.5px);
  width: 26px;
  height: 26px;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
}
header .top .alltop .topleft nav a {
  text-decoration: none;
  font-family: regular;
  font-size: 12px;
  margin: 0 14px;
  color: black;
}
header .top .alltop .topleft nav i {
  cursor: pointer;
  display: none;
}
header .top .alltop .topleft .tel {
  display: none;
}
header .top .alltop .topright .ctypes a {
  text-decoration: none;
  padding: 10px 20px;
  font-family: regular;
  font-size: 12px;
  border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
}
header .top .alltop .topright .ctypes .active_type {
  color: #ff7a00 !important;
  border: 1px solid #ff7a00 !important;
  font-family: bold;
}
header .top .alltop .topright .ldmode {
  border-radius: 5px;
}
header .top .alltop .topright .ldmode i {
  border-radius: 5px;
  padding: 8px 9px;
  font-size: 15px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
}
header .top .alltop .topright .language-change a {
  text-decoration: none;
  padding: 8px 8px;
  font-family: bold;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
}
header .top .alltop .topright .searchmenu i {
  font-size: 13px;
  margin: 0 0 0 10px;
  padding: 10px 10px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
header .bottom .allbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem 1rem 1rem;
}
header .bottom .allbottom .bottomleft a {
  text-decoration: none;
  font-family: bold;
  font-size: 18px;
  margin-right: 23px;
  color: black;
}
header .bottom .allbottom .bottomright a {
  text-decoration: none;
  border: 1px solid #969696;
  padding: 11px 17px;
  border-radius: 18px;
  font-family: bold;
  font-size: 15px;
  margin-left: 7px;
  color: black;
}
header .bottom .allbottom .bottomright i {
  color: #ff7a00;
  font-size: 18px;
  transform: translateX(-10px);
}
header .bottom .allbottom .bottomright span {
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
}
header .bottom .allbottom .bottomright .fa-cart-shopping {
  transform: translate(0);
}

.hamburger_menu {
  display: none;
}

.searchdiv {
  position: absolute;
  top: 6.5%;
  width: 100%;
  height: 240px;
  background-color: #FFFFFF;
  z-index: 1 !important;
}
.searchdiv .close {
  position: absolute;
  margin-top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #323232;
  cursor: pointer;
}
.searchdiv p {
  position: absolute;
  margin-top: 5.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-family: regular;
  color: #000000;
}
.searchdiv form {
  display: inline-block;
  width: 48%;
  position: absolute;
  margin-top: 9rem;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 3rem;
}
.searchdiv form input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline-style: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  font-family: bold;
  padding: 0.7rem 0;
}
.searchdiv .loop {
  position: absolute;
  margin-top: 9.8rem;
  left: 71%;
  font-size: 16px;
  color: #FF6400;
  cursor: pointer;
}
.searchdiv .searchextension {
  position: absolute;
  width: 100%;
  height: 240px;
  top: 200px;
  background-color: #FFFFFF;
  z-index: 1 !important;
}
.searchdiv .searchextension p {
  position: absolute;
  margin-top: 32px;
}
.searchdiv .searchextension p span {
  font-size: 16px;
  color: #000000;
  font-family: regular;
  position: relative;
  margin-right: 9rem;
}
.searchdiv .searchextension p span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 200px;
  bottom: -30%;
  background-color: #FF6400;
}
.searchdiv .searchextension a {
  text-decoration: none;
  font-size: 14px;
  color: #969696;
  font-family: bold;
  padding: 16px 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  position: absolute;
  margin-top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}

.chat_icon i {
  font-size: 30px;
  cursor: pointer;
  background-color: white !important;
  color: #ff6400 !important;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 0 black;
  position: fixed;
  bottom: 25px;
  right: 40px;
}

.chat-page {
  z-index: 24923749;
  padding: 0.5em;
  height: 100%;
  outline-offset: -5px;
  background: transparent;
  overscroll-behavior: contain;
  overflow-y: auto;
  position: absolute;
  position: absolute !important;
  bottom: -33%;
  right: 18%;
}
.chat-page .chatpage {
  position: fixed;
}
.chat-page .chatpage .fixed {
  background-color: white !important;
  border-radius: 20px;
}
.chat-page .chatpage .fixed .chatpage_head {
  margin-left: 35px;
  color: black !important;
  padding: 15px 8px;
  display: inline-block;
  font-size: 14px;
  font-family: bold;
}
.chat-page .chatpage .fixed .chatpage_head i {
  font-size: 1.5rem;
  cursor: pointer;
}
.chat-page .chatpage .fixed .chatpage_body {
  margin-left: 45px;
}
.chat-page .chatpage .fixed .chatpage_body .body-header i {
  padding: 10px;
  background-color: #FF6400 !important;
  color: white !important;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 10px;
}
.chat-page .chatpage .fixed h2 {
  font-size: 14px;
  font-family: regular;
  color: black !important;
}
.chat-page .chatpage .fixed .inputt {
  max-width: 190px;
  margin-bottom: 20px;
  color: black !important;
}
.chat-page .chatpage .fixed .inputt span {
  font-family: regular;
  font-size: 14px !important;
  color: black !important;
}
.chat-page .chatpage .fixed .inputt i {
  font-size: 0.5rem;
  transform: translateY(-2px);
  color: #FF6400 !important;
}
.chat-page .chatpage .fixed .inputt input {
  display: block;
  color: black !important;
}
.chat-page .chatpage .fixed .button {
  background-color: white !important;
  display: inline-block;
  border-radius: 20px;
}
.chat-page .chatpage .fixed .button button {
  margin-left: 45px;
  margin-bottom: 25px !important;
  border: 0px;
  font-family: inherit;
  width: 100%;
  max-width: 190px;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline-offset: 2px;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: normal;
  padding: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 107, 0);
  margin-top: 8px;
}

.seccarusel .customcarusel {
  width: 100%;
  margin-top: 1rem;
  position: relative;
}
.seccarusel .customcarusel .radios ul {
  position: absolute;
  top: 102%;
  left: 48%;
  transform: translate(-50%);
  list-style: none;
  display: flex;
}
.seccarusel .customcarusel .radios ul li {
  width: 5px;
  height: 5px;
  background-color: #E6E6E6 !important;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
}
.seccarusel .customcarusel .radios ul .selected {
  background-color: #FF6400 !important;
  transform: scale(1.15);
}
.seccarusel .customcarusel .carusel {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.seccarusel .customcarusel .carusel .slider {
  display: flex;
  height: 100%;
  width: 400%;
  transition: 0.8s;
}
.seccarusel .customcarusel .carusel .slider .sliderpage {
  height: 403px;
  border-radius: 15px;
  margin-bottom: 1rem;
  flex-basis: 100%;
  display: flex;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .box1 {
  width: 50%;
  border-radius: 20px 0 0 20px;
  background-color: #FF6400 !important;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .box2 {
  width: 50%;
  border-radius: 0 20px 20px 0;
  background-color: #FF6400 !important;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .img {
  width: 70%;
  margin: auto;
  background-color: #FF6400 !important;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .img img {
  background-color: #FF6400 !important;
  width: 100%;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .img2 {
  margin-top: 6.2rem;
  background-color: #FF6400 !important;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .img2 img {
  background-color: #FF6400 !important;
  margin-top: 15px;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .img3 {
  margin-top: 1.95rem;
  background-color: #FF6400 !important;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .img3 img {
  background-color: #FF6400 !important;
  margin-top: 15px;
  width: 90%;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .text {
  background-color: #FF6400 !important;
  width: 80%;
  margin: 6rem 5rem 6rem 0;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .text h1 {
  background-color: #FF6400 !important;
  font-size: 36px;
  font-family: bold;
  color: #FFFFFF !important;
  margin-bottom: 1.4rem;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .text p {
  background-color: #FF6400 !important;
  font-size: 15px;
  color: #FFFFFF !important;
  font-weight: 500;
  margin-bottom: 3rem;
}
.seccarusel .customcarusel .carusel .slider .sliderpage .text a {
  background-color: #FF6400 !important;
  font-size: 14px;
  font-family: bold;
  color: #FFFFFF !important;
  text-decoration: none;
  border: 1px solid #FFFFFF !important;
  padding: 16px 25px;
  border-radius: 25px;
}

.statics_bar .boxes .box {
  padding: 45px 55px;
  border-radius: 15px;
  margin-right: 33px;
  margin-left: 9px;
}
.statics_bar .boxes .box span {
  font-family: bold;
  font-size: 18px;
}
.statics_bar .boxes .box h1 {
  font-size: 52px;
  margin: 17px 0 22px;
  color: #FF6400 !important;
  font-family: cursive;
  font-weight: 1000;
}
.statics_bar .boxes .box p {
  font-size: 14px;
  font-family: regular;
  display: inline-block;
  margin-bottom: 45px;
}
.statics_bar .boxes .box a {
  padding: 15px 45px;
  font-size: 14px;
  text-decoration: none;
  font-family: bold;
  border-radius: 30px;
  border: none;
  background-color: #FF6400 !important;
  color: white !important;
}
.statics_bar .boxes .last_box {
  margin-right: 0 !important;
}

.card_desc_bar .cardbox_1 {
  margin-top: 100px;
}
.card_desc_bar .cardbox_1 .frstbox {
  align-items: center;
  position: relative;
  padding: 110px 0;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.card_desc_bar .cardbox_1 .frstbox .img {
  width: 50%;
}
.card_desc_bar .cardbox_1 .frstbox .img img {
  background-color: transparent !important;
  height: 465px;
  position: absolute;
  top: -18%;
  left: 50px;
}
.card_desc_bar .cardbox_1 .frstbox .context {
  width: 50%;
}
.card_desc_bar .cardbox_1 .frstbox .context h3 {
  line-height: 27px;
  font-family: extra-bold;
  font-weight: 800;
  font-size: 28px;
  color: #FF6400 !important;
  margin: 0 0 20px;
}
.card_desc_bar .cardbox_1 .frstbox .context p {
  font-size: 13px;
  margin: 0 0 40px;
  padding-right: 19%;
  line-height: 1.33;
}
.card_desc_bar .cardbox_1 .frstbox .context .btns {
  display: flex !important;
}
.card_desc_bar .cardbox_1 .frstbox .context .btns .first_btn .btn-desc {
  text-decoration: none;
  padding: 14px 30px;
  font-size: 14px;
  font-family: bold;
  border-radius: 30px;
  border: none;
  background-color: #FF6400 !important;
  color: white !important;
}
.card_desc_bar .cardbox_1 .frstbox .context .btns .other_btns {
  display: inline-block !important;
}
.card_desc_bar .cardbox_1 .frstbox .context .btns .other_btns a {
  text-decoration: none;
  background-color: transparent !important;
  border: 1px solid #a4a4a4 !important;
  color: #7d7d7d !important;
  padding: 14px 30px;
  font-size: 14px;
  font-family: bold;
  border-radius: 30px;
  border: none;
}
.card_desc_bar .cardbox_1 .secondbox {
  margin-top: 60px;
  align-items: center;
  padding: 73px 48px;
  position: relative;
  border-radius: 20px;
}
.card_desc_bar .cardbox_1 .secondbox .context {
  padding-right: 90px;
}
.card_desc_bar .cardbox_1 .secondbox .context h3 {
  line-height: 28px;
  font-family: extra-bold;
  font-weight: 800;
  font-size: 28px;
  color: #FF6400 !important;
  margin: 0 0 20px;
}
.card_desc_bar .cardbox_1 .secondbox .context p {
  font-size: 13px;
  margin: 0 0 35px;
  line-height: 1.33;
}
.card_desc_bar .cardbox_1 .secondbox .context .btn-desc {
  text-decoration: none;
  padding: 14px 30px;
  font-size: 14px;
  font-family: bold;
  border-radius: 30px;
  border: none;
  background-color: #FF6400 !important;
  color: white !important;
}
.card_desc_bar .cardbox_1 .secondbox .context .download {
  display: flex;
}
.card_desc_bar .cardbox_1 .secondbox .context .download img {
  margin-right: 10px;
  width: 107px;
  height: 38px;
  margin-bottom: 35px;
}
.card_desc_bar .cardbox_1 .secondbox .img img {
  background-color: transparent !important;
  height: 495px;
  position: absolute;
  top: -31%;
}

.exchange_rates .rates {
  padding: 40px 70px;
  border-radius: 20px;
}
.exchange_rates .rates h2 {
  font-size: 28px;
  font-family: extra-bold;
  color: #FF6400 !important;
  margin: 0 0 46px;
}
.exchange_rates .rates .choose_type a {
  display: none;
}
.exchange_rates .rates .ratebox .contextrate span {
  margin: 0 0 10px;
  font-size: 18px;
  font-family: bold;
}
.exchange_rates .rates .ratebox .contextrate p {
  margin: 0 0 30px;
  font-size: 12px;
}
.exchange_rates .rates .ratebox .table_rates thead tr th {
  border-bottom: 1px solid #D6D9DB;
  width: 33.3333333%;
  font-size: 12px;
}
.exchange_rates .rates .ratebox .table_rates thead tr th p {
  margin-right: 52px;
  font-family: light;
}
.exchange_rates .rates .ratebox .table_rates tbody tr td {
  padding: 10px 0;
  font-weight: 600;
  width: 33.3333333%;
  white-space: nowrap;
}
.exchange_rates .rates .ratebox .table_rates tbody tr td span {
  font-size: 14px;
}
.exchange_rates .rates .ratebox .table_rates tbody tr td i {
  font-size: 10px !important;
  padding: bottom 10px;
  transform: translate(0px, -2px);
}
.exchange_rates .rates .exchange_calc {
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.1), 0px -16px 25px -10px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  border-radius: 15px;
  align-items: center;
}
.exchange_rates .rates .exchange_calc .box {
  transform: translateY(22px);
}
.exchange_rates .rates .exchange_calc .box .calc_text span {
  font-family: bold;
  font-size: 18px;
}
.exchange_rates .rates .exchange_calc .box .calc_text p {
  font-family: regular;
  font-size: 12px;
}
.exchange_rates .rates .exchange_calc .box .inputexc {
  position: relative;
}
.exchange_rates .rates .exchange_calc .box .inputexc input {
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #313131;
  background-color: transparent !important;
}
.exchange_rates .rates .exchange_calc .box .inputexc .lang_option {
  position: absolute;
  font-family: bold;
  top: -49%;
  left: 65%;
  padding: 0 25px 0 0;
  display: inline-block;
  position: relative;
}
.exchange_rates .rates .exchange_calc .box .inputexc .lang_option i {
  position: absolute;
  left: 71%;
  font-size: 10px;
  top: 35%;
}
.exchange_rates .rates .exchange_calc .box .inputexc .lang_option select {
  padding: 8px 30px 8px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #333;
  cursor: pointer;
}
.exchange_rates .rates .exchange_calc .box .inputexc .lang_option option {
  font-size: 16px;
}
.exchange_rates .rates .icon {
  font-size: 18px;
  transform: translateX(70px) translateY(12px);
  color: #FF6400;
}
.exchange_rates .rates .icon i {
  transform: scaleX(1.8);
}

.news .container .allnews .new {
  padding: 31px;
  border-radius: 10px;
  width: 33.33%;
  line-height: 23px;
  cursor: text;
}
.news .container .allnews .new:hover {
  background-color: #FF6400 !important;
  color: white !important;
}
.news .container .allnews .new:hover h3 {
  color: white !important;
}
.news .container .allnews .new h3 {
  cursor: pointer;
  font-weight: 700;
  font-size: 17.5px;
  display: block;
  overflow: hidden;
  line-height: normal;
  margin-bottom: 15px;
  color: #FF6400;
}
.news .container .allnews .new p {
  font-size: 14.2px;
  font-weight: 400;
}
.news .container .allnews .new span {
  font-size: 12px;
  margin: 18px 0 0;
}
.news .container .allnewsbtn button {
  background-color: #FF6400;
  padding: 17px 25px;
  font-size: 14px;
  font-family: bold;
  color: white;
  border: none;
  border-radius: 30px;
}

.network .all_network_boxes .network_box {
  padding: 45px 65px;
  border-radius: 20px;
  position: relative;
  height: 320px;
}
.network .all_network_boxes .network_box h3 {
  color: #FF6400 !important;
  font-size: 28px;
  font-family: extra-bold;
  line-height: normal;
}
.network .all_network_boxes .network_box p {
  font-size: 14px;
}
.network .all_network_boxes .network_box a {
  padding: 15px 40px;
  margin: 23px 0 0;
  background-color: #FF6400;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: bold;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin-top: 23px;
  box-shadow: 0 10px 10px -10px rgba(255, 107, 0, 0.51);
}
.network .all_network_boxes .network_box .location_text {
  width: 75%;
}
.network .all_network_boxes .network_box .bitmap_image {
  width: 25%;
}
.network .all_network_boxes .network_box .bitmap_image img {
  width: 34%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.network .all_network_boxes .network_location {
  width: 69%;
  margin-right: 40px;
}
.network .all_network_boxes .network_guest {
  width: 40%;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
}
footer .ftr_box {
  line-height: 40px;
}
footer .ftr_box h3 {
  font-family: bold;
  font-size: 14px;
}
footer .ftr_box ul {
  padding-top: 17px;
}
footer .ftr_box ul li a {
  font-size: 12px;
  text-decoration: none;
  font-family: regular;
  color: black;
}
footer .socialm_icons i {
  font-size: 16px;
  background-color: #A1A1A1 !important;
  color: white !important;
  padding: 4px 5px;
  border-radius: 100%;
  margin-left: 10px;
  cursor: pointer;
}
footer .socialm_icons .fa-apple,
footer .socialm_icons .fa-android {
  background-color: #ff7a00 !important;
}
footer .footer_bottom {
  display: flex;
  justify-content: space-between;
}
footer .footer_bottom .footer_bottom_left {
  font-size: 12px;
}
footer .footer_bottom .footer_bottom_left .footer_cr_text {
  color: #A1A1A1 !important;
  font-size: 12px;
  font-family: light;
}
footer .footer_bottom .footer_imgs img {
  width: 80px;
  display: inline-block;
  margin-right: 35px;
}
footer .footer_res {
  display: none;
}

@media (max-width: 576px) {
  .container {
    padding: 0 1.2rem !important;
    width: 100% !important;
  }
  .header1 {
    overflow: hidden;
    background-color: white;
    width: 100%;
  }
  .header1 .alltop .topleft nav a {
    display: none;
  }
  .header1 .alltop .topleft nav i {
    display: inline-block !important;
    font-size: 18px;
    border-radius: 50%;
    padding: 14px;
    transform: translateY(7px);
  }
  .header1 .alltop .topleft nav .unibank-logo {
    position: absolute;
    left: 45%;
    top: 2%;
  }
  .header1 .alltop .topleft .tel {
    display: block !important;
  }
  .header1 .alltop .topleft .tel a {
    text-decoration: none;
    position: absolute;
    top: 2.5%;
    right: 3%;
    padding: 8px 15px !important;
    border-radius: 20px !important;
  }
  .header1 .alltop .topleft .tel i {
    color: #FF6400 !important;
    margin-right: 4px;
  }
  .header1 .alltop .topright {
    display: none;
  }
  .header1 .bottom {
    display: none;
  }
  .hamburger_menu {
    height: 100vh;
    display: block;
  }
  .hamburger_menu .ctypes {
    width: 40%;
    margin-left: 34%;
  }
  .hamburger_menu .ctypes a {
    text-decoration: none;
    padding: 10px 20px;
    font-family: regular;
    font-size: 12px;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  }
  .hamburger_menu .ctypes .active_type {
    color: #ff7a00 !important;
    border: 1px solid #ff7a00 !important;
    font-family: bold;
  }
  .hamburger_menu nav {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .hamburger_menu nav a {
    text-decoration: none;
    color: black;
  }
  .hamburger_menu nav .bold_nav {
    margin-bottom: 14px;
    font-family: bold;
    font-size: 20px;
  }
  .hamburger_menu nav .light_nav {
    margin-bottom: 28px;
    font-family: regular;
    font-size: 14px;
  }
  .hamburger_menu .btns_nav .language-change {
    margin-bottom: 3px !important;
  }
  .hamburger_menu .btns_nav .language-change a {
    text-decoration: none;
    padding: 10px 8px;
    font-family: bold;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  }
  .hamburger_menu .btns_nav .searchmenu i {
    font-size: 13px;
    margin-right: 10px;
    padding: 10px 10px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  .hamburger_menu .btns_nav .ldmode {
    border-radius: 5px;
  }
  .hamburger_menu .btns_nav .ldmode i {
    border-radius: 5px;
    padding: 8px 9px;
    font-size: 15px;
    box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  }
  .hamburger_menu .btns_nav .cart a {
    text-decoration: none;
    padding: 8px 9px;
    font-family: bold;
    font-size: 15px;
    margin-left: 7px;
    border-radius: 5px;
  }
  .hamburger_menu .btns_nav .cart i {
    font-size: 18px;
  }
  .statics_bar {
    overflow: hidden;
  }
  .statics_bar .boxes {
    display: flex !important;
    justify-content: space-between !important;
  }
  .statics_bar .boxes .box {
    padding: 25px 0 !important;
    height: 200px !important;
    margin: 0 0 14px 0 !important;
    width: 46%;
  }
  .statics_bar .boxes .box span {
    font-size: 14px;
  }
  .statics_bar .boxes .box h1 {
    font-size: 32px;
  }
  .statics_bar .boxes .box p {
    font-size: 10px;
    display: block;
    margin-bottom: 18px;
  }
  .statics_bar .boxes .box a {
    font-size: 12px !important;
    padding: 10px 30px !important;
  }
  .customcarusel {
    width: 100%;
  }
  .customcarusel .controls {
    margin-bottom: 2rem;
    position: relative;
  }
  .customcarusel .controls ul {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
  }
  .customcarusel .controls ul li {
    width: 8px;
    height: 8px;
    background-color: #E6E6E6;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
  }
  .customcarusel .carusel {
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  .customcarusel .carusel .slider {
    display: flex;
    height: 100%;
    width: 400%;
    margin-top: 36px;
    transition: 0.5s;
  }
  .customcarusel .carusel .slider .sliderpage {
    background-color: #FF6400;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 1rem;
    flex-basis: 100%;
  }
  .customcarusel .carusel .slider .sliderpage .img {
    width: 70%;
    margin: auto;
  }
  .customcarusel .carusel .slider .sliderpage .img img {
    width: 100%;
  }
  .customcarusel .carusel .slider .sliderpage .img2 {
    margin-top: 6.2rem;
  }
  .customcarusel .carusel .slider .sliderpage .img3 {
    margin-top: 1.95rem;
  }
  .customcarusel .carusel .slider .sliderpage .img3 img {
    width: 90%;
  }
  .customcarusel .carusel .slider .sliderpage .img4 {
    margin-top: 6.2rem;
  }
  .customcarusel .carusel .slider .sliderpage .text {
    width: 80%;
    margin: 6rem 5rem 6rem 0;
  }
  .customcarusel .carusel .slider .sliderpage .text h1 {
    font-size: 36px;
    font-family: bold;
    color: #FFFFFF;
    margin-bottom: 1.4rem;
  }
  .customcarusel .carusel .slider .sliderpage .text p {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  .customcarusel .carusel .slider .sliderpage .text a {
    font-size: 14px;
    font-family: bold;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 16px 25px;
    border-radius: 25px;
  }
  .customcarusel .sliderpage {
    display: none !important;
  }
  .customcarusel .responsiveslider {
    background-color: #FF6400;
    display: block !important;
    border-radius: 15px;
    height: 360px;
    margin-bottom: 1rem;
    flex-basis: 100%;
  }
  .customcarusel .responsiveslider .img {
    width: 46%;
    margin: auto;
  }
  .customcarusel .responsiveslider .img img {
    width: 100%;
  }
  .customcarusel .responsiveslider .second_image {
    width: 60%;
    margin-top: 2.1rem;
  }
  .customcarusel .responsiveslider .third_image {
    margin-top: -8px !important;
  }
  .customcarusel .responsiveslider .third_image img {
    width: 109%;
  }
  .customcarusel .responsiveslider .fourth_image {
    width: 58.5%;
    margin-top: 4.45rem;
  }
  .customcarusel .responsiveslider .text {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
  .customcarusel .responsiveslider .text h1 {
    font-size: 24px;
    font-family: bold;
    color: #FFFFFF;
  }
  .customcarusel .responsiveslider .text p {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 3rem;
    width: 70%;
    margin: 0 auto 2rem;
  }
  .customcarusel .responsiveslider .text a {
    font-size: 12px;
    font-family: bold;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 16px 25px;
    border-radius: 25px;
  }
  .card_desc_bar {
    overflow: hidden;
  }
  .card_desc_bar .cardbox_1 .frstbox {
    padding: 0 0 0 30px !important;
    flex-direction: column !important;
    width: auto !important;
    height: 560px !important;
  }
  .card_desc_bar .cardbox_1 .frstbox .img {
    display: block;
    position: unset !important;
  }
  .card_desc_bar .cardbox_1 .frstbox .img img {
    width: 90%;
    height: 340px;
    top: -14%;
    left: -2%;
  }
  .card_desc_bar .cardbox_1 .frstbox .context {
    padding: 0 !important;
    width: 100% !important;
  }
  .card_desc_bar .cardbox_1 .frstbox .context h3 {
    font-size: 20px !important;
    text-align: left;
  }
  .card_desc_bar .cardbox_1 .frstbox .context p {
    font-size: 12px !important;
    text-align: left;
  }
  .card_desc_bar .cardbox_1 .frstbox .context .btns {
    text-align: center;
    flex-direction: column;
  }
  .card_desc_bar .cardbox_1 .frstbox .context .btns .first_btn {
    display: block !important;
  }
  .card_desc_bar .cardbox_1 .frstbox .context .btns .first_btn a {
    font-size: 12px !important;
    display: block !important;
    padding: 13px 20px !important;
  }
  .card_desc_bar .cardbox_1 .frstbox .context .btns .other_btns {
    padding-bottom: 15px !important;
    margin-top: 10px;
    width: 95% !important;
    display: flex !important;
    justify-content: space-between;
  }
  .card_desc_bar .cardbox_1 .frstbox .context .btns .other_btns a {
    font-size: 12px !important;
    padding: 13px 39px !important;
  }
  .card_desc_bar .cardbox_1 .secondbox {
    padding: 0 0 0 30px !important;
    flex-direction: column !important;
    width: auto !important;
    height: 575px !important;
  }
  .card_desc_bar .cardbox_1 .secondbox .context {
    margin: 22px 0px;
  }
  .card_desc_bar .cardbox_1 .secondbox .context h3 {
    font-size: 20px;
    margin-bottom: 60px;
    position: relative;
  }
  .card_desc_bar .cardbox_1 .secondbox .context p {
    font-size: 12px;
    margin-bottom: 33px;
    margin-top: 88px;
  }
  .card_desc_bar .cardbox_1 .secondbox .context a {
    padding: 13px 35px !important;
    margin: 0 12px 0 0;
    font-size: 12px !important;
  }
  .card_desc_bar .cardbox_1 .secondbox .context .download {
    position: absolute;
    top: 12%;
  }
  .card_desc_bar .cardbox_1 .secondbox .context .download a {
    margin: 0 !important;
    padding: 0 !important;
  }
  .card_desc_bar .cardbox_1 .secondbox .context .download a img {
    width: 88px !important;
  }
  .card_desc_bar .cardbox_1 .secondbox .img img {
    width: 80%;
    height: 340px;
    top: 41%;
    left: 6%;
  }
  .exchange_rates {
    overflow: hidden;
  }
  .exchange_rates .rates {
    padding: 30px 35px !important;
  }
  .exchange_rates .rates h2 {
    font-size: 20px !important;
  }
  .exchange_rates .rates .choose_type {
    display: flex;
    margin-bottom: 15px;
  }
  .exchange_rates .rates .choose_type a {
    display: block;
    font-family: bold;
    line-height: 14px;
    font-size: 12px;
    color: #a1a1a1 !important;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #969696;
    height: 40px;
  }
  .exchange_rates .rates .choose_type .active_type_button {
    font-family: bold;
    border: 2px solid #FF6400;
    margin-bottom: 20px;
    border-radius: 25px;
    color: #FF6400 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 40px;
  }
  .exchange_rates .rates .choose_type .active_type_button::after {
    content: "";
    position: absolute;
    bottom: -4px;
    transform: rotateZ(-45deg) translate(-50%);
    width: 12px;
    height: 12px;
    border-left: 2px solid #FF6400;
    border-bottom: 2px solid #FF6400;
    left: 50%;
    background-color: #f5f5f6;
  }
  .exchange_rates .rates .rate2 {
    display: none;
  }
  .exchange_rates .rates .rate3 {
    display: none;
  }
  .exchange_rates .rates .contextrate span {
    display: none;
  }
  .exchange_rates .rates .table_rates thead tr th p {
    margin-right: 31px !important;
  }
  .exchange_rates .rates .table_rates tbody tr td {
    padding: 16px 67px 4px 0px !important;
  }
  .exchange_rates .rates .exchange_calc i {
    display: none;
  }
  .exchange_rates .rates .exchange_calc select {
    padding: 8px 19px 8px 10px !important;
  }
  .news {
    overflow: hidden;
  }
  .news .allnews {
    display: block !important;
  }
  .news .allnews .new {
    width: 100% !important;
    padding: 15px !important;
    margin-bottom: 15px;
  }
  .news .allnews .new h3 {
    font-size: 14px !important;
  }
  .news .allnews .new p {
    font-size: 12px !important;
  }
  .news .allnews .new span {
    font-size: 10px !important;
  }
  .news .allnewsbtn button {
    font-size: 12px !important;
    padding: 12px 25px !important;
  }
  .network {
    overflow: hidden;
    margin-bottom: 0px !important;
  }
  .network .all_network_boxes .boxes {
    display: block !important;
  }
  .network .all_network_boxes .boxes .network_box {
    width: 100% !important;
    margin-bottom: 20px !important;
    padding: 24px 30px !important;
    height: 250px !important;
    border-radius: 10px !important;
  }
  .network .all_network_boxes .boxes .network_box h3 {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  .network .all_network_boxes .boxes .network_box p {
    font-size: 12px !important;
  }
  .network .all_network_boxes .boxes .network_box a {
    font-size: 12px !important;
    padding: 13px 35px !important;
  }
  .network .all_network_boxes .boxes .network_box .bitmap_image img {
    width: 43% !important;
    right: -25px;
  }
  .chat-page {
    bottom: -25%;
    right: 71% !important;
  }
  footer {
    overflow: hidden;
  }
  footer .footer_boxes {
    display: none !important;
  }
  footer .socialm_icons {
    text-align: center;
  }
  footer .footer_bottom .footer_bottom_left {
    display: none !important;
  }
  footer .footer_bottom .footer_imgs {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  footer .footer_bottom .footer_imgs img {
    width: 70px !important;
  }
  footer .footer_res {
    margin-top: 40px !important;
    text-align: center;
    display: block !important;
    font-size: 12px;
  }
  footer .footer_res .footer_res_text {
    color: #A1A1A1 !important;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */